@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.ant-layout-header {
  background: #fff;
}

.ant-layout-footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}

#account span {
  vertical-align: middle;
}

#account-avatar {
  margin-left: 20px;
}